body{
    font-family: 'Rubik', sans-serif;
}

/*navbar*/
.navbar{
    background-color: rgba(91, 67, 230, 0.897);
    margin: 20px;
}

/*Jumbotron*/
.jumbotron{
    height: 500px;
    background-size: cover;
}
.jumbotron .display-4 {
    text-align: center;
    color: rgba(55, 38, 207, 0.938);
    font-weight: 400;
    text-shadow: 3px 3px 10px black;
}

/*kelas*/
.kelas p{
    font-size: 18px;
    margin: 20px auto;
}

/*Benefit*/
.benefit h5{
    margin-top: 20px;
    margin-left: 15px;
    font-weight: bold;
}
.benefit p{
    margin-left: 15px;
}
